/* clear 속성으로 float 속성값 해제 */
section .portfolio::after{
    content: "";
    display: block;
    clear:both;
}
/* portfolio-inner 사각형 꾸미기 */
section .portfolio .portfolio-inner{
    width:30%;
    margin-right: 5%;
}